<footer class="page-footer font-small bg-primary">
  <div class="full-footer">
    
  <div class="footer-sponsors text-center py-1"> 
    The data is available for 
    <a href="https://gitlab.com/rconf/userinfoboard/-/tree/master/data" target="_blank"> download</a> under a <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license.</a> 
    The 
    <a href="https://gitlab.com/rconf/userinfoboard/-/tree/master/R" target="_blank"> R code </a> is available under a <a href="https://gitlab.com/rconf/userinfoboard/-/blob/master/LICENSE">GPL-3.0 license.</a> 
  </div>  
    
  <div class="footer-sponsors"> Developed by:
    <a href="https://github.com/benubah" target="_blank">Ben Ubah</a>
  </div>
  
  </div>
</footer>